<mat-toolbar color="primary">
  <mat-icon [routerLink]="['']">home</mat-icon>
  <span> &nbsp; </span> 
  <span noWrap=false> Play4Good</span>
  <span class="example-spacer"></span>
  <button mat-icon-button *ngIf="user_id" (click)="showUserProfile()" matTooltip="User Profile">
    <mat-icon aria-label="User Profile">account_circle</mat-icon>
  </button>
  <button mat-icon-button *ngIf="!user_id" (click)="signIn()" matTooltip="Sign In">
      <mat-icon aria-label="Sign In">assignment_ind</mat-icon>
  </button>
  <button mat-icon-button *ngIf="!user_id"  (click)="signUp()" matTooltip="Sign Up">
      <mat-icon aria-label="Sign Up">account_balance_wallet</mat-icon>
    </button>
  <button mat-icon-button *ngIf="user_id"  (click)="logout()" matTooltip="Logout">
    <mat-icon aria-label="Logout icon">power_settings_new</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>