
<img src="https://www.reefertransport.nl/Images/forgot-password.jpg"/>
<form [formGroup]="resetPasswordForm" (ngSubmit)="reset()" autocomplete="false" novalidate>
    <div class="inputGroup inputGroup1">
        <label for="email1">Email</label>
        <input type="text" id="email" name="email" formControlName="email" class="form-control email" maxlength="256" required/>
        <p class="helper helper1">email@domain.com</p>
        <span class="indicator"></span>
        <div *ngIf="fc.email.errors && (fc.email.touched)">
            <div *ngIf="fc.email.errors.required">
                <mat-error [hidden]="!fc.email.errors.required && fc.email.dirty">Email is required</mat-error>
            </div>
            <div *ngIf="fc.email.errors.email">
                <mat-error [hidden]="!fc.email.errors.email">Email is invalid</mat-error>
            </div>
        </div>
    </div>  
    <div class="inputGroup inputGroup3">
        <button id="reset" type="submit" [disabled]="resetPasswordForm.invalid">Reset Password</button>
    </div>
</form>
