body{
    margin: 0;
    background-color: #eff2f5;
    height: 100%;
    width:50%;
}

.example-card {
    max-width: 400px;
  }
  
.example-header-image {
    background-size: cover;
}

img {
    border-radius: 20%;
}
  